<div class="d-flex justify-content-center">
    <ul class="pagination">

        <li class="page-item">
            <a class="page-link"
               href="?page=1{% if request.GET.qwer %}&qwer={{ request.GET.qwer }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">
                « 처음
            </a>
        </li>

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.previous_page_number }}{% if request.GET.qwer %}&qwer={{ request.GET.qwer }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">
                이전
            </a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i >= page_obj.number|add:"-2" and i <= page_obj.number|add:"2" %}
                {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ i }}{% if request.GET.qwer %}&qwer={{ request.GET.qwer }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.next_page_number }}{% if request.GET.qwer %}&qwer={{ request.GET.qwer }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">
                다음
            </a>
        </li>

        <li class="page-item">
            <a class="page-link"
               href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.qwer %}&qwer={{ request.GET.qwer }}{% endif %}{% if fragment %}#{{ fragment }}{% endif %}">
                마지막 »
            </a>
        </li>
        {% endif %}

    </ul>
</div>
