<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog_detail</title>
</head>
<body>

<h1>{{ blog.title }}</h1>
{% if request.user == blog.author %}
<!-- 수정 버튼 (오른쪽 정렬) -->
<div style="text-align: right">
    <a href="{% url 'blog_update' blog.pk %}">수정</a>
    <!--
     <a href="{% url 'blog_delete' blog.pk %}">삭제</a>
    -->
     <form action="{% url 'blog_delete' blog.pk %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button>삭제</button>
     </form>

</div>
{% endif %}
<!-- 작성자 -->
<div>
    {{ blog.author.username }}
</div>

<hr>

<!-- 본문 -->
<p>{{ blog.content }}</p>

<a href="{% url 'blog_list' %}">블로그 목록</a>

</body>
</html>
