<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 프로젝트</title>
</head>
<body>

<nav style="display: flex; justify-content: space-between;">
    <div>
        <a href="{% url 'blog:list' %}">홈</a>
    </div>

    <div style="text-align: right">
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" style="display: inline">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
            {{ request.user.username }}
        {% else %}
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
        {% endif %}
    </div>
</nav>
<hr>
{% block content %}{% endblock content %}
{% block js %}{% endblock %}
</body>
</html>
